/*-----MAIN-----*/
html {
  box-sizing: border-box;
}
html, body, header, footer, h1, h2, h3, h4, h5, h6, p{
	padding: 0;
	margin: 0;
}

/*-----HEADER & NAVIGATION-----*/
header{
	font-family: 'Quicksand', sans-serif;
    box-shadow: 0px 3px 3px 1px #dfdddd;
    background-color: white;
    width: 100%;
    margin: 0 0 0 0;
    position: fixed;
}
/*mobile-first*/
.top-nav {
	margin-top: 0;
}

.top-nav h2 {
	margin-top: .5em;
	text-align: center;
}
.top-nav ul {
	display: block;
	list-style-type: none;
	padding: 0 auto;
	text-align: center;

}

nav#top-nav.top-nav ul {
	padding: 0;
}

.top-nav ul li {
	font-size: 1em;
	text-decoration: none;
	padding: .5em 1em;
	display: inline;
}

.top-nav ul li a {
	text-decoration: none;
	display: inline-block;
	align: center;
}

/*-----INTRO AREA-----*/

.hi {
	display: block;
	padding-top: 7em;
	font-family: sans-serif;
}

.hi img {
	border-radius: 50%;
	display: block;
	margin: 0 auto;

}

/*mobile-first*/

.hi img {
	align: center;
	width: 50%;

}

.hi h2 {
	text-align: center;
	margin-top: .5em;
	margin-bottom: .5em;
}

.hi p {
	text-align: center;
	padding: 0px 1em;
}
